<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>display</key>
			<true/>
			<key>name</key>
			<string>tutorial</string>
			<key>image</key>
			<string>levelT</string>
			<key>stars</key>
			<integer>0</integer>
			<key>locked</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>name</key>
			<string>level1</string>
			<key>image</key>
			<string>level1</string>
			<key>stars</key>
			<integer>0</integer>
			<key>locked</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>name</key>
			<string>level2</string>
			<key>image</key>
			<string>level2</string>
			<key>stars</key>
			<integer>0</integer>
			<key>locked</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>name</key>
			<string>level3</string>
			<key>image</key>
			<string>level3</string>
			<key>stars</key>
			<integer>0</integer>
			<key>locked</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>name</key>
			<string>level4</string>
			<key>image</key>
			<string>level4</string>
			<key>stars</key>
			<integer>0</integer>
			<key>locked</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>name</key>
			<string>level5</string>
			<key>image</key>
			<string>level5</string>
			<key>stars</key>
			<integer>0</integer>
			<key>locked</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
